# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignored folders
.gradle/
.idea/
gradle/
!/gradle.properties
!/gradlew
!/gradlew.bat
!/settings.gradle.kts
